{
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "parser": "typescript",
  "proseWrap": "preserve",
  "endOfLine": "auto"
}
